# Ex1

In [33]:
library('XML')
library('methods')
library('tidyverse')

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
url = 'http://www.w3schools.com/xml/plant_catalog.xml'
download.file(url, destfile = 'Du_lieu_new/plant_catalog.xml')

In [4]:
df = xmlToDataFrame('Du_lieu_new/plant_catalog.xml')
head(df)

  COMMON              BOTANICAL              ZONE LIGHT        PRICE
1 Bloodroot           Sanguinaria canadensis 4    Mostly Shady $2.44
2 Columbine           Aquilegia canadensis   3    Mostly Shady $9.37
3 Marsh Marigold      Caltha palustris       4    Mostly Sunny $6.81
4 Cowslip             Caltha palustris       4    Mostly Shady $9.90
5 Dutchman's-Breeches Dicentra cucullaria    3    Mostly Shady $6.44
6 Ginger, Wild        Asarum canadense       3    Mostly Shady $9.03
  AVAILABILITY
1 031599
2 030699
3 051799
4 030699
5 012099
6 041899

### Cach 1

In [11]:
df_new = df[df['ZONE']=='Annual',]
df_new = df_new[df_new['LIGHT']=='Sunny',]
df_new

   COMMON           BOTANICAL          ZONE   LIGHT PRICE AVAILABILITY
23 Black-Eyed Susan Rudbeckia hirta    Annual Sunny $9.80 061899
26 Butterfly Weed   Asclepias tuberosa Annual Sunny $2.78 063099

### Cach 2

In [12]:
df_new = df[(df['ZONE']=='Annual') & (df['LIGHT']=='Sunny'),]
df_new

   COMMON           BOTANICAL          ZONE   LIGHT PRICE AVAILABILITY
23 Black-Eyed Susan Rudbeckia hirta    Annual Sunny $9.80 061899
26 Butterfly Weed   Asclepias tuberosa Annual Sunny $2.78 063099

### Cach 3

In [30]:
subset(df, ZONE=='Annual' & LIGHT=='Sunny')

   COMMON           BOTANICAL          ZONE   LIGHT PRICE AVAILABILITY
23 Black-Eyed Susan Rudbeckia hirta    Annual Sunny $9.80 061899
26 Butterfly Weed   Asclepias tuberosa Annual Sunny $2.78 063099

### Cach 4

In [35]:
filter(df, ZONE=='Annual' & LIGHT=='Sunny')

  COMMON           BOTANICAL          ZONE   LIGHT PRICE AVAILABILITY
1 Black-Eyed Susan Rudbeckia hirta    Annual Sunny $9.80 061899
2 Butterfly Weed   Asclepias tuberosa Annual Sunny $2.78 063099

# Ex2

In [40]:
df = mtcars
df = cbind(names = rownames(df), df)
rownames(df) = c()
head(df)

  names             mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

### Cach 1

In [45]:
cols = colnames(df)
doc = newXMLDoc()
top = newXMLNode('CARS', doc = doc)
for (row in 1:nrow(df)) {
    cdnode = newXMLNode('CD', parent = top)
    for (col in cols) {
        newXMLNode(col, df[row, col], parent = cdnode)
    }
}

print('Saving file...')
cat(saveXML(doc, 
            indent = TRUE,
            prefix = "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n"),     
    file="Du_lieu_new/car.xml")
print('Completed!')

[1] "Saving file..."
[1] "Completed!"

### Cach 2

In [46]:
# Another solution to save xml file
doc_xml <- newXMLDoc(isHTML = FALSE)
table_node <- newXMLNode("CARS", doc = doc_xml)
row_data <- apply(df, 1, function(x) {
  z1 <- newXMLNode('CD') # create a new node for each row
  addChildren(z1, lapply(names(x), function(y) newXMLNode(y, x[y])))
})
xmlParent(row_data) <- table_node
              
#Save file xml
print('Saving file...')      
saveXML(doc_xml, file = "Du_lieu_new/cars_2.xml")
print('Completed!')

[1] "Saving file..."

[1] "Du_lieu_new/cars_2.xml"

[1] "Completed!"

In [48]:
df = xmlToDataFrame('Du_lieu_new/car.xml')
head(df)

  names             mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 Mazda RX4         21   6   160  110 3.9  2.62  16.46 0  1  4    4
2 Mazda RX4 Wag     21   6   160  110 3.9  2.875 17.02 0  1  4    4
3 Datsun 710        22.8 4   108  93  3.85 2.32  18.61 1  1  4    1
4 Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 Hornet Sportabout 18.7 8   360  175 3.15 3.44  17.02 0  0  3    2
6 Valiant           18.1 6   225  105 2.76 3.46  20.22 1  0  3    1

# Ex3

In [57]:
library('httr')
library('jsonlite')
library('tidyverse')

In [52]:
df = fromJSON('Du_lieu/orange.json')
class(df)

[1] "list"

In [54]:
df = data.frame(df)
head(df)

  Tree age  circumference
1 1     118  30
2 1     484  58
3 1     664  87
4 1    1004 115
5 1    1231 120
6 1    1372 142

In [56]:
df[which.max(df$age),]

  Tree age  circumference
7 1    1582 145

In [62]:
max(df$age)

[1] 1582

In [63]:
filter(df, df$age == max(df$age))

  Tree age  circumference
1 1    1582 145
2 2    1582 203
3 3    1582 140
4 4    1582 214
5 5    1582 177

In [64]:
subset(df, df$age == max(df$age))

   Tree age  circumference
7  1    1582 145
14 2    1582 203
21 3    1582 140
28 4    1582 214
35 5    1582 177

In [66]:
df_new = subset(df, df$age > 1000 & df$circumference > 100)
df_new_json = toJSON(df_new)
write(df_new_json, file='Du_lieu_new/large_100_age_1000_new.json')

In [67]:
result = fromJSON('Du_lieu_new/large_100_age_1000_new.json')
head(result)

  Tree age  circumference
1 1    1004 115
2 1    1231 120
3 1    1372 142
4 1    1582 145
5 2    1004 156
6 2    1231 172