## R Objects: Vector, Factor, List, Matrix, Array, Data Frame

In [1]:
a = TRUE
print(class(a))

[1] "logical"

In [2]:
class(a)

[1] "logical"

In [3]:
b = 12.4
class(b)

[1] "numeric"

In [5]:
c = 2L
class(c)

[1] "integer"

In [6]:
d = 'string'
class(d)

[1] "character"

In [7]:
vector = c(a, b, c, d)
class(vector)

[1] "character"

In [8]:
vector

[1] "TRUE"   "12.4"   "2"      "string"

In [9]:
factor_vector = factor(vector)
class(factor_vector)

[1] "factor"

In [10]:
factor_vector

[1] TRUE   12.4   2      string
Levels: 12.4 2 TRUE string

In [12]:
list1 = list(factor_vector, vector, a, b, c)
class(list1)

[1] "list"

In [13]:
list1

[[1]]
[1] TRUE   12.4   2      string
Levels: 12.4 2 TRUE string

[[2]]
[1] "TRUE"   "12.4"   "2"      "string"

[[3]]
[1] TRUE

[[4]]
[1] 12.4

[[5]]
[1] 2

In [14]:
m = matrix(c(1,2,3,4,5,6,7,8), nrow=2, ncol=4, byrow=TRUE)

In [15]:
m

     [,1] [,2] [,3] [,4]
[1,] 1    2    3    4
[2,] 5    6    7    8

In [16]:
m = matrix(c(1,2,3,4,5,6,7,8), nrow=2, ncol=4)
m

     [,1] [,2] [,3] [,4]
[1,] 1    3    5    7
[2,] 2    4    6    8

In [18]:
BMI = data.frame(gender = c('Male', 'Male', 'Female'),
                height = c(152, 171, 165.5),
                 weight = c(81, 93, 78),
                 age = c(42, 38, 26)
                )

In [20]:
print(BMI)

  gender height weight age
1   Male  152.0     81  42
2   Male  171.0     93  38
3 Female  165.5     78  26

In [23]:
BMI.index

ERROR: Error in eval(expr, envir, enclos): object 'BMI.index' not found

In [31]:
ls()

[1] "BMI"           "a"             "b"             "c"
[5] "d"             "factor_vector" "list1"         "m"
[9] "vector"

## Toan tu

In [37]:
a = c(2, 5.5, 6)
b = c(8, 3, 4)

In [38]:
a + b

[1] 10.0  8.5 10.0

In [39]:
a - b

[1] -6.0  2.5  2.0

In [40]:
a * b

[1] 16.0 16.5 24.0

In [41]:
a / b

[1] 0.250000 1.833333 1.500000

In [52]:
a %% b

[1] 2.0 2.5 2.0

In [53]:
a %/% b

[1] 0 1 1

In [44]:
a^b

[1]  256.000  166.375 1296.000

In [45]:
a > b

[1] FALSE  TRUE  TRUE

In [46]:
a < b

[1]  TRUE FALSE FALSE

In [47]:
a == b

[1] FALSE FALSE FALSE

In [50]:
a >= b

[1] FALSE  TRUE  TRUE

In [51]:
a != b

[1] TRUE TRUE TRUE

In [54]:
a & b

[1] TRUE TRUE TRUE

In [55]:
a | b

[1] TRUE TRUE TRUE

In [56]:
a && b

[1] TRUE

In [57]:
a || b

[1] TRUE

In [58]:
a = c(1,2,3) -> b

In [59]:
a

[1] 1 2 3

In [60]:
b

[1] 1 2 3

In [64]:
a = 1:10
class(a)

[1] "integer"

In [65]:
a = c(1, 2, 3)
class(a)

[1] "numeric"

In [63]:
2 %in% a

[1] TRUE

In [67]:
a = matrix(c(1,2,3,4,5,6), nrow=2)
a

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [69]:
a %*% t(a)

     [,1] [,2]
[1,] 35   44
[2,] 44   56

In [72]:
a = data.frame(a=c(1,2,3), b=c(4,5,6))
a

  a b
1 1 4
2 2 5
3 3 6

In [76]:
t(a)

  [,1] [,2] [,3]
a 1    2    3
b 4    5    6

In [77]:
as.matrix(a) %*% as.matrix(t(a))

     [,1] [,2] [,3]
[1,] 17   22   27
[2,] 22   29   36
[3,] 27   36   45

In [75]:
t(a) %*% a

ERROR: Error in t(a) %*% a: requires numeric/complex matrix/vector arguments

In [83]:
name = readline(prompt='Ten cua ban la gi: ')
print(paste('Hello', name, ', welcome to R language'))

Ten cua ban la gi: Bach
[1] "Hello Bach , welcome to R language"

In [84]:
colors = c('green', 'red', 'yellow')
cat('colors are: ', colors)

colors are:  green red yellow

## String

In [1]:
a = 'one'
b = 'two'
c = 'three'
print(paste(a, b, c))
print(paste(a, b, c, sep='-'))

[1] "one two three"
[1] "one-two-three"

In [2]:
s = 'This is a string'
print(toupper(s))

[1] "THIS IS A STRING"

In [3]:
print(tolower(s))

[1] "this is a string"

In [4]:
nchar(s)

[1] 16

In [6]:
substring(s, 5, 12)

[1] " is a st"

In [9]:
print(substring(s, 5, 12))

[1] " is a st"

In [10]:
print(a)

[1] "one"

In [18]:
print(chartr(' ', '-', s))

[1] "This-is-a-string"

In [20]:
char_list = strsplit(s, ' ')
word_list = unlist(char_list)

In [21]:
word_list

[1] "This"   "is"     "a"      "string"

In [24]:
class(word_list)
# This is vector

[1] "character"

In [23]:
class(char_list)

[1] "list"

In [27]:
list_1 = c('day', 1, 20, 10, 4, 5, 6, 'is', 'new')
sort(list_1)
sort(list_1, decreasing=TRUE)

[1] "1"   "10"  "20"  "4"   "5"   "6"   "day" "is"  "new"

[1] "new" "is"  "day" "6"   "5"   "4"   "20"  "10"  "1"

In [28]:
list_2 = c(10, 20, 30, 2, 4, 5, 7, 9)
sort(list_2)
sort(list_2, decreasing=TRUE)

[1]  2  4  5  7  9 10 20 30

[1] 30 20 10  9  7  5  4  2

In [29]:
date()

[1] "Fri Jul  2 19:05:08 2021"

In [30]:
Sys.Date()

[1] "2021-07-02"

In [40]:
d1 = '20-10-2020'
d1_date = as.Date(d1, format('%d-%m-%Y'))
d1
d1_date

[1] "20-10-2020"

[1] "2020-10-20"

In [44]:
now = Sys.Date()
format(now, format='%A %B, %d %Y')
format(now, format='%a, %d, %b, %y')

[1] "Friday July, 02 2021"

[1] "Fri, 02, Jul, 21"

In [45]:
Sys.Date() - as.Date('2021-01-10')

Time difference of 173 days

In [49]:
difftime(as.Date('2021-10-01'), Sys.Date(), units='weeks')

Time difference of 13 weeks