## Matrix

In [2]:
mat = matrix(c(1:12), nrow=4, byrow=TRUE)
mat

     [,1] [,2] [,3]
[1,]  1    2    3
[2,]  4    5    6
[3,]  7    8    9
[4,] 10   11   12

In [3]:
mat = matrix(c(1:12), nrow=4)
mat

     [,1] [,2] [,3]
[1,] 1    5     9
[2,] 2    6    10
[3,] 3    7    11
[4,] 4    8    12

In [4]:
rownames = c('row1', 'row2', 'row3', 'row4')
colnames = c('col1', 'col2', 'col3')
mat = matrix(c(1:12), nrow=4, byrow=TRUE, dimnames=list(rownames, colnames))
mat

     col1 col2 col3
row1  1    2    3
row2  4    5    6
row3  7    8    9
row4 10   11   12

In [5]:
mat[1,2]

[1] 2

In [6]:
mat[4,2]

[1] 11

In [8]:
mat[,3]

row1 row2 row3 row4
   3    6    9   12

In [9]:
mat[2,]

col1 col2 col3
   4    5    6

In [10]:
mat1 = matrix(c(1:12), nrow=4)
mat2 = matrix(c(1:12), nrow=4, byrow=TRUE)
mat1 + mat2

     [,1] [,2] [,3]
[1,]  2    7   12
[2,]  6   11   16
[3,] 10   15   20
[4,] 14   19   24

In [17]:
mat1 %*% t(mat2)

     [,1] [,2] [,3] [,4]
[1,] 38    83  128  173
[2,] 44    98  152  206
[3,] 50   113  176  239
[4,] 56   128  200  272

## Array

In [19]:
array1 = array(c(1:6), dim=c(3,2,2))
print(array1)

, , 1

     [,1] [,2]
[1,]    1    4
[2,]    2    5
[3,]    3    6

, , 2

     [,1] [,2]
[1,]    1    4
[2,]    2    5
[3,]    3    6

In [20]:
array1 = array(c(c(1:6), c(8,15)), dim=c(3,4,2))
print(array1)

, , 1

     [,1] [,2] [,3] [,4]
[1,]    1    4    8    2
[2,]    2    5   15    3
[3,]    3    6    1    4

, , 2

     [,1] [,2] [,3] [,4]
[1,]    5   15    3    6
[2,]    6    1    4    8
[3,]    8    2    5   15

In [21]:
rownames = c('row1', 'row2', 'row3')
colnames = c('col1', 'col2', 'col3', 'col4')
matnames = c('matrix1', 'matrix2')

array1 = array(c(c(1:6), c(8,15)), dim=c(3,4,2), dimnames= list(rownames, colnames, matnames))
print(array1)

, , matrix1

     col1 col2 col3 col4
row1    1    4    8    2
row2    2    5   15    3
row3    3    6    1    4

, , matrix2

     col1 col2 col3 col4
row1    5   15    3    6
row2    6    1    4    8
row3    8    2    5   15

In [24]:
print(array1[1,,2])

col1 col2 col3 col4
   5   15    3    6

In [25]:
print(apply(array1, c(1), sum))

row1 row2 row3
  44   44   44

In [26]:
print(apply(array1, c(2), min))

col1 col2 col3 col4
   1    1    1    2

In [27]:
print(apply(array1, c(3), mean))

matrix1 matrix2
    4.5     6.5

## List

In [1]:
list_data = list('hello', 'R', 12, 25.5, c(21, 32, 12), TRUE)
list_data

[[1]]
[1] "hello"

[[2]]
[1] "R"

[[3]]
[1] 12

[[4]]
[1] 25.5

[[5]]
[1] 21 32 12

[[6]]
[1] TRUE

In [16]:
names(list_data) = c('a', 'b', 'c', 'd', 'e', 'f')

In [17]:
list_data[1]

$a
[1] "hello"

In [18]:
list_data$a

[1] "hello"

In [19]:
list_data[length(list_data)+1] = ' abc'

In [20]:
list_data

$a
[1] "hello"

$b
[1] "R"

$c
[1] 12

$d
[1] 25.5

$e
[1] 21 32 12

$f
[1] TRUE

[[7]]
[1] " abc"

In [21]:
list_data[length(list_data)] = NULL

In [22]:
list_data

$a
[1] "hello"

$b
[1] "R"

$c
[1] 12

$d
[1] 25.5

$e
[1] 21 32 12

$f
[1] TRUE

In [23]:
list_data[3]

$c
[1] 12

In [24]:
merged_list = c(list_data, list_data)
merged_list

$a
[1] "hello"

$b
[1] "R"

$c
[1] 12

$d
[1] 25.5

$e
[1] 21 32 12

$f
[1] TRUE

$a
[1] "hello"

$b
[1] "R"

$c
[1] 12

$d
[1] 25.5

$e
[1] 21 32 12

$f
[1] TRUE

In [26]:
vector = unlist(list_data)

In [31]:
vector[6]

  e2
"32"