## Ex2

In [13]:
row_names = c('a', 'b', 'c', 'd')
col_names = c('x', 'y', 'z')
matrix_b = matrix(data = c(1:12), nrow=4, dimnames=list(row_names, col_names))
matrix_b
t(matrix_b)
sub_b = matrix_b[2:4,]
sub_b

  x y z
a 1 5  9
b 2 6 10
c 3 7 11
d 4 8 12

  a b  c  d
x 1  2  3  4
y 5  6  7  8
z 9 10 11 12

  x y z
b 2 6 10
c 3 7 11
d 4 8 12

In [14]:
row_names = c('a', 'b', 'c')
col_names = c('x', 'y', 'z')
matrix_a = matrix(data = c(1:9), nrow=3, dimnames=list(row_names, col_names))
matrix_a
matrix_a * 3
matrix_a + sub_b
matrix_a - sub_b

  x y z
a 1 4 7
b 2 5 8
c 3 6 9

  x y  z
a 3 12 21
b 6 15 24
c 9 18 27

  x y  z
a 3 10 17
b 5 12 19
c 7 14 21

  x  y  z
a -1 -2 -3
b -1 -2 -3
c -1 -2 -3

## Ex7

In [2]:
year = c(2008:2018)
month = c(1:12)
day = c(1:31)

year_month_day.list = list('year'=year, 'month'=month, 'day'=day)
print(year_month_day.list)

$year
 [1] 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018

$month
 [1]  1  2  3  4  5  6  7  8  9 10 11 12

$day
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31

In [3]:
year_month_day.list$year = c(2010:2020)
print(year_month_day.list)

$year
 [1] 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020

$month
 [1]  1  2  3  4  5  6  7  8  9 10 11 12

$day
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31

In [4]:
year_month_day.list$year = year_month_day.list$year[-1]
print(year_month_day.list)

$year
 [1] 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020

$month
 [1]  1  2  3  4  5  6  7  8  9 10 11 12

$day
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31

In [5]:
x = c(1, 3, 4, 7, 11, 18, 29)
cal.list = list('x*2'=x*2, 'x/2'=x/2, 'sqrt(x)'=sqrt(x))
print(cal.list)

$`x*2`
[1]  2  6  8 14 22 36 58

$`x/2`
[1]  0.5  1.5  2.0  3.5  5.5  9.0 14.5

$`sqrt(x)`
[1] 1.000000 1.732051 2.000000 2.645751 3.316625 4.242641 5.385165

In [8]:
cal.list$'sqrt(x)'[3:5]

[1] 2.000000 2.645751 3.316625

In [9]:
year_month_day_cal.list = c(year_month_day.list, cal.list)
print(year_month_day_cal.list)

$year
 [1] 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020

$month
 [1]  1  2  3  4  5  6  7  8  9 10 11 12

$day
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31

$`x*2`
[1]  2  6  8 14 22 36 58

$`x/2`
[1]  0.5  1.5  2.0  3.5  5.5  9.0 14.5

$`sqrt(x)`
[1] 1.000000 1.732051 2.000000 2.645751 3.316625 4.242641 5.385165

In [10]:
year_x2_day = year_month_day_cal.list[c('year', 'x*2', 'day')]
print(year_x2_day)

$year
 [1] 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020

$`x*2`
[1]  2  6  8 14 22 36 58

$day
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31

In [11]:
length(year_x2_day$'x*2')

[1] 7

In [12]:
year_x2_day$year

[1] 10