## Ex5

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
data = read.csv('Obesity_data.csv')
head(data)

  id gender height weight bmi  age bmc  bmd  fat   lean  pcfat
1 1  F      150    49     21.8 53  1312 0.88 17802 28600 37.3
2 2  M      165    52     19.1 65  1309 0.84  8381 40229 16.8
3 3  F      157    57     23.1 64  1230 0.84 19221 36057 34.0
4 4  F      156    53     21.8 56  1171 0.80 17472 33094 33.8
5 5  M      160    51     19.9 54  1681 0.98  7336 40621 14.8
6 6  F      153    47     20.1 52  1358 0.91 14904 30068 32.2

In [5]:
data1 = select(data, c(2, 3, 4, 5, 6))
head(data1)

  gender height weight bmi  age
1 F      150    49     21.8 53
2 M      165    52     19.1 65
3 F      157    57     23.1 64
4 F      156    53     21.8 56
5 M      160    51     19.9 54
6 F      153    47     20.1 52

In [7]:
data11 = select(data, c(gender, height, weight, bmi, age))
head(data11)

  gender height weight bmi  age
1 F      150    49     21.8 53
2 M      165    52     19.1 65
3 F      157    57     23.1 64
4 F      156    53     21.8 56
5 M      160    51     19.9 54
6 F      153    47     20.1 52

In [9]:
data2 = filter(data1, bmi >= 18.5, bmi <=24.9)
head(data2)

  gender height weight bmi  age
1 F      150    49     21.8 53
2 M      165    52     19.1 65
3 F      157    57     23.1 64
4 F      156    53     21.8 56
5 M      160    51     19.9 54
6 F      153    47     20.1 52

In [10]:
print(paste('Rows have bmi >= 18.5 and <= 24.9: ', nrow(data2)))

[1] "Rows have bmi >= 18.5 and <= 24.9:  865"

In [14]:
data1 = mutate(data1, height_m = height/100)
head(data1)

  gender height weight bmi  age height_m
1 F      150    49     21.8 53  1.50
2 M      165    52     19.1 65  1.65
3 F      157    57     23.1 64  1.57
4 F      156    53     21.8 56  1.56
5 M      160    51     19.9 54  1.60
6 F      153    47     20.1 52  1.53

In [15]:
head(arrange(data1, bmi))

  gender height weight bmi  age height_m
1 M      162    38     14.5 55  1.62
2 F      162    40     15.2 54  1.62
3 F      151    35     15.4 33  1.51
4 F      155    37     15.4 44  1.55
5 F      150    35     15.6 24  1.50
6 M      169    45     15.8 50  1.69

In [16]:
group = group_by(data1, gender)
summary = summarize(group, 
                   count = n(),
                   mean.height = mean(height, na.rm = T),
                   mean.weight = mean(weight, na.rm = T))
summary

  gender count mean.height mean.weight
1 F      862   153.2912    52.31090
2 M      355   165.0592    62.02254

In [17]:
count(data1, gender)

  gender n
1 F      862
2 M      355

In [20]:
group_gender_age = count(data1, gender, age)
head(group_gender_age)

  gender age n
1 F      14   4
2 F      16   2
3 F      18  10
4 F      19  27
5 F      20  13
6 F      21   8

In [21]:
tail(group_gender_age)

    gender age n
138 M      82  1
139 M      83  1
140 M      84  3
141 M      85  1
142 M      87  1
143 M      88  1

In [22]:
data3 = sample_n(data1, 10)
data3

   gender height weight bmi  age height_m
1  F      158    54     21.6 22  1.58
2  F      145    50     23.8 83  1.45
3  M      164    72     26.8 43  1.64
4  F      155    55     22.9 70  1.55
5  M      160    55     21.5 75  1.60
6  M      168    80     28.3 53  1.68
7  M      166    56     20.3 31  1.66
8  F      157    50     20.3 46  1.57
9  M      168    61     21.6 51  1.68
10 F      156    52     21.4 34  1.56

In [24]:
data4 = sample_frac(data, 0.01)
data4

   id   gender height weight bmi  age bmc  bmd  fat   lean  pcfat
1   511 M      175    71     23.2 19  2121 1.01 18540 47308 27.3
2   551 F      148    42     19.2 60  1127 0.81 13757 26727 33.1
3   957 M      167    62     22.2 36  2085 1.07 11416 47489 18.7
4   900 F      163    53     19.9 18  2103 1.13  7531 41544 14.7
5   627 F      158    59     23.6 51  1693 1.00 20759 32585 37.7
6   484 F      155    63     26.2 62  1593 0.92 30182 34461 45.6
7  1099 M      162    57     21.7 78  1769 1.02 14553 39266 26.2
8   277 F      155    42     17.5 43  2109 1.14 12794 40415 23.1
9   665 F      159    53     21.0 39  1871 1.02 14922 35096 28.8
10 1194 F      155    65     27.1 42  2189 1.22 24374 37904 37.8
11  341 F      145    54     25.7 43  1879 1.15 20774 30401 39.2
12 1147 F      158    50     20.0 55  1721 1.03  7089 39823 14.6